h1 {
    text-align: center;
    padding: 2em;
}

.btn-secondary {
    margin: 0.5em;
    float: right;
}

.btn-style {
    text-align: center;
    padding-bottom: 5em;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.info-wrapper {
    width: 300px;
    text-align: center;
    padding: 3em;
    margin: 0 auto;
    float: left;
    display: inline-block;
}

li {
  list-style: none;
}

.info-wrapper img {
    padding: 5px;
    width: 200px;
}

p {
    font-size: 1.2em;
}
