<!DOCTYPE html>
<html ng-app="colorpalette">
    <head>
        <meta charset="utf-8">
        <title>User's Palettes</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed|Lato" rel="stylesheet">
    </head>
    <body ng-controller="mainController as ctrl">
        <header>
            <!-- NAVBAR STARTS -->
            <div class="container">
                <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" ata-target=".navbar-collapse">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">Color Palettes</a></li>
                                <li><a href="users.html">User's Palettes</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- NAVBAR ENDS -->
        </header>

        <main>
            <div class="users-page">
                <ul>
                    <li ng-repeat="user in ctrl.users">
                        <div class="info-wrapper">
                            <p><b>User's name:</b> {{ user.name }}</p>
                            <p><b>User's id:</b> {{ user.id }}</p>
                            <ul>
                                <p><b>COLOR PALETTES</b></p>
                                <li ng-repeat="palettes in ctrl.palettes | filter: {user_id:user.id}">
                                    <p>{{ palettes.color_name }}</p>
                                    <img ng-src="{{palettes.img}}" />
                                </li>
                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </main>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
